$theme-color: #0d9bd3;
$extra-color: #313244;
$avatar-color: #f38ba8;
$icon-color: #f38ba8;
$name-color: #eff1f5;
$side-text-color: #cdd6f4;
$text-color: #cdd6f4;
$text-color-secondary: #bac2de;
$text-grey: #9399b2;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$base: #11111b;
$heart: #f38ba8;
$background: #1e1e2e;
